@import "tailwindcss";
@plugin "daisyui";


html {
  scroll-behavior: smooth;
}

.a {
  font-size: 24px;
  font-weight: 500;
  
  text-decoration: inherit;
}
.a:hover {
  color: #535bf2;
}


.h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: #646cff;
}


@media (prefers-color-scheme: light) {
  
  .button {
    background-color: #f9f9f9;
  }
}
@media (prefers-color-scheme: dark) {
  body ,aside {
    background-color: black;
    color: white;
  }

  h1, h2, h3, h4, h5, h6,p {
    color: white;
  }

  a {
    color: lightblue;
  }
  
  

  label{
    color: white;
  }

  input, textarea, select {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid white;
  }

  input::placeholder,
  textarea::placeholder {
    color: #bbb;
  }
  button {
  color: white !important;
  border:1px solid white !important;
}
 button:hover {
    border-color: #53adf2 !important;
  }


}

